*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
a{text-decoration: none}

.content{
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    padding:40px;
    box-sizing: border-box;
    overflow-y: scroll;
}
/* 点收缩后的样式 */
.contentcCollapse{
    left: 65px;
}
.crumbs{
    margin-bottom: 20px;
}
.pagination{
    margin: 20px 0;
    text-align: right;
}
.plugins-tips{
    padding:20px 10px;
    margin-bottom: 20px;
}
.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover{
    background: #f6faff;
}
.mgb20{
    margin-bottom: 20px;
}

.move-enter-active,.move-leave-active{
    transition: opacity .5s;
}
.move-enter,.move-leave{
    opacity: 0;
}

/*color dark*/
.header{
    background-color: #242f42;
}
.login-wrap{
    background: #324157;
}
.plugins-tips{
    background: #eef1f6;
}
.plugins-tips a{
    color: #20a0ff;
}
.el-upload--text em {
    color: #20a0ff;
}
.pure-button{
    background: #20a0ff;
}



/* Handle 组件 */
.handle-box{
    margin-bottom: 20px;
}
.handle-select{
    width: 120px;
}
.handle-input{
    width: 200px;
    display: inline-block;
}
.handle-box-form{
    margin: 50px
}


/*fixed sidebar.vue*/
.sidebar{
    display: block;
    position: absolute;
    /* width: 250px; */
    left: 0;
    top: 70px;
    bottom:0;
    /* background: #2E363F; */
}
.sidebar > ul {
    height:100%;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 250px;
    min-height: 400px;
}

/*home css*/
.header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    font-size: 22px;
    line-height: 70px;
    color: #fff;
}
.header .logo{
    float: left;
    /* width:250px; */
    text-align: center;
}
.user-info {
    float: right;
    padding-right: 50px;
    font-size: 16px;
    color: #fff;
}
.user-info .el-dropdown-link{
    position: relative;
    display: inline-block;
    padding-left: 50px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
}
.user-info .user-logo{
    position: absolute;
    left:0;
    top:15px;
    width:40px;
    height:40px;
    border-radius: 50%;
}
.el-dropdown-menu__item{
    text-align: center;
}